DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quizzy"
NEXTAUTH_SECRET="replace-with-at-least-32-characters"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
REDIS_URL="redis://localhost:6379"
REALTIME_URL="http://localhost:4001"
SENTRY_DSN=""
